<section class="px-4 md:px-16 py-4">
    <p class="text-green-800">
        Use Vimium to speed up navigation. <br />
        Designed by
        <a
            class="text-green-800 underline"
            href="//vannrith.com"
            target="_blank"
            rel="nofollow">@madsouris</a
        >
        → Code is available on
        <a
            class="text-green-800 underline"
            href="//github.com/madsouris/startpage"
            target="_blank"
            rel="nofollow">Github</a
        >
    </p>
</section>
