<section class="px-4 md:px-16 py-4">
    <p class="text-gray-800 dark:text-white text-[0.75rem] font-sans">
        Use Vimium to speedup navigation. <br />
        Designed by
        <a
            class="text-green-800 dark:text-green-500 hover:underline transition-all"
            href="//vannrith.com"
            target="_blank"
            rel="nofollow">@madsouris</a
        >
        → Code is available on
        <a
            class="text-green-800 dark:text-green-500 hover:underline transition-al"
            href="//github.com/madsouris/startpage"
            target="_blank"
            rel="nofollow">Github</a
        >
    </p>
</section>
