---
const links = [
  { name: "Raindrop", url: "https://app.raindrop.io"},
  { name: "YouTube", url: "https://www.youtube.com" },
  { name: "News", url: "https://www.kohsantepheapdaily.com.kh" },
  { name: "HLTV", url: "https://www.hltv.org" },
  { name: "GitHub", url: "https://www.github.com" },
  { name: "Twitter", url: "https://www.x.com" },
  { name: "Gemini", url: "https://gemini.google.com" },
  { name: "Reddit", url: "https://www.reddit.com" },

];
---

<section class="mb-8">
  <p
    class="text-lime-500 text-sm uppercase no-underline mb-4 inline-block pe-4 text-shadow-lg text-shadow-lime-800"
  >
    <span
      class="text-lime-500 me-2 p-1 bg-lime-900"
    >
      gi
    </span>
    <span> To toggle search </span>
  </p>
  <ul
    class="list-none m-0 p-0 flex flex-row flex-wrap gap-6 w-full lg:w-2/3 mb-3"
  >
  {links.map(link => (
    <li>
      <a class="text-green-500 uppercase text-shadow-lg text-shadow-green-800" href={link.url}>{link.name}</a>
    </li>
  ))}
  </ul>

</section>
