<form action="https://google.com/search" method="get">
    <input
        id="search"
        type="text"
        name="q"
        placeholder="Search"
        class="transition-all outline-none w-full font-bold bg-white dark:bg-black border-0 border-b border-transparent px-0 text-black dark:text-white text-[5rem] md:text-[10rem] lg:text-[15rem] placeholder-tracking-tighter placeholder-font-bold placeholder-text[5rem] md:placeholder-text-[10rem] lg:placeholder-text-[15rem] active:border-0 active:outline-0 focus:border-0 focus:border-b focus:border-gray-800 focus:outline-none hover:bg-gray-900 hover:bg-opacity-5 hover:cursor-pointer"
    />
</form>
